html{
box-sizing: border-box;
}
*,
*::before,
*::after {
box-sizing: inherit;
}
body{
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
color: #434455
}
:root{
 --IRIS:#4D5AE5;
 --OCEAN: #404BBF;
 --NAVY_BLUE: #2E2F42;
 --GREEN: #31D0AA;
 --SLATE: #434455;
 --LIGHT_SLATE: #8E8F99;
 --CORNFLOWER: #E7E9FC;
 --CLOUD: #F4F4FD;
 --NAVY_BLUE_modal: rgba(46, 47, 66, 0.4);
 --GREY: rgba(46, 47, 66, 0.7);
}
p, h1, h2, h3, h4, h5, h6{
  margin: 0;
}
ul, ol{
margin: 0;
padding-left: 0;
list-style: none;
}
button{
  cursor: pointer;
}
address{
  font-style: normal;
}
a{
  color: currentColor;
  text-decoration: none;
}
section{
  padding-top: 94px;
  padding-bottom: 94px;
}
.container{
  width: 100%;
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
                      /* HEADER-LOGO */
.logo{
font-family: 'Raleway', sans-serif;
font-style: sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--IRIS);
}
.link{
  text-decoration: none
}
.studio{
color: #2e2f42 ;
}
.list{
  list-style: none
}
.foot-studio{
 color:  #f4f4fd;
}
                       /* HEADER-MENU */
.header-link{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
/* identical to box height, or 150% */
letter-spacing: 0.02em;
/* NAVY BLUE */
color: var(--NAVY_BLUE);
}
.header-link:hover{
  color: #404bbf;
}
.header-link:focus{
  color: #404bbf;
}
.header-studia{
  color: var(--OCEAN);
}
.contact{
  color: var(--SLATE);
}
                           /* HERO */
.hero{
  padding-top: 200px;
  padding-bottom: 200px;
  background: #2e2f42 ;
}
.hero-title{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
color: #FFFFFF;
text-align: center;
letter-spacing: 0.02em;
text-transform: uppercase;
}
                           /* BUTTON */
.btn{
  width: 200px;
  height: 50px;
font-family: 'Roboto';
font-style: sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
letter-spacing: 0.04em;
color: #FFFFFF;
cursor: pointer;
background: var(--IRIS);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
margin: 0 auto;
margin-top: 30px;
border: none;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}
                         /* ADVANTAGES */
.advantages-hero{
  font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
color: var(--NAVY_BLUE);
margin-bottom: 50px;
text-transform: capitalize
}
.boxis{
  padding-top: 94px;
  padding-bottom: 0;
}
.advantages-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--NAVY_BLUE);
}
.advantages-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--SLATE);
}
                          /* ACTIVITY */
.activity-title{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
color: var(--NAVY_BLUE);
margin-bottom: 50px;
text-transform: capitalize;
}
                              /* TEAM */
.team-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color: var(--NAVY_BLUE);
}
.team-text{
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: var(--SLATE);
}
                          /* FOOTER */
.footer-list{
  margin-top: 20px;
}
footer{
  background: #2e2f42;
  padding-top: 60px;
  padding-bottom: 60px;
}
.text{
  margin-top: 16px;
display: block;
width: 264px;
font-size: 16px;
line-height: 1.5;
/* or 150% */
letter-spacing: 0.02em;
/* CORNFLOWER */
color: var(--CORNFLOWER);
}
                          /* PORTFOLIO */
.menu-btn-list{
  margin-bottom: 34px;
}
.menu-btn{
  font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--IRIS);
  background: var(--CLOUD);
border-radius: 4px;
border: none;
}
.menu-btn:hover,
.menu-btn:focus{
color: #FFFFFF;
  background-color: var(--OCEAN);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.menu-items{
  width: 370px;
background: #FFFFFF;
border: 1px solid #EEEEEE;
}
.menu-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--NAVY_BLUE);
}
.menu-text{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--SLATE);
}
